<app-chart></app-chart>
<hr />
<button (click)="downloadJson()">DOWNLOAD</button>
<button (click)="getAllRanges()">GET ALL RANGES</button>
<!-- <button (click)="clearRanges()">CLEAR RANGES</button>
<button (click)="drawRanges()">DRAW RANGES</button> -->
<hr />
<button (click)="setEditRangeMode()">EDIT RANGE</button>
<button (click)="setEditSessionMode()">EDIT SESSION</button>
<button (click)="setReadonlyMode()">READONLY</button>
<hr />
<button (click)="refreshChart()">REFRESH CHART</button>
<hr />
<button (click)="addButtons()">ADD BUTTONS</button>
